<app-unavigation></app-unavigation>
<section style="background-color: #eee;">
  <div class="alert alert-warning alert-dismissible fade show justify-content-center" role="alert" *ngIf="status">
    <strong class="align-items-center">Blog Created successfully</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
    <form (ngSubmit)="onPost(f)" #f="ngForm">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-start align-items-center">
               
                  <h6 class="fw-bold text-primary mb-1">
                    Blog Title
                  </h6>
                  
              </div> <div> <input class="form-control" type="textarea" rows="1" name="title" ngModel #title required/></div>
            </div>
            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                <h6 class="fw-bold text-primary mb-1">Enter Your Blog</h6>
              <div class="d-flex flex-start w-100">
                
                <div class="form-outline w-100">
                  <textarea class="form-control" id="textAreaExample" rows="10"
                    style="background: #fff;" name="content" ngModel #title required></textarea>
                </div>
              </div>
              <div class="float-end mt-2 pt-1">
                <button type="submit" class="btn btn-primary btn-sm">
                  Create Blog 
                </button>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
 
      </section>